<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport"  content="width=device-width,initial-scale=1"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<title>doctruyen.com - where you can read any manga</title>
</head>
<body>
	<div class="container-fluid">
    	<div class="row">
        	<div class="container-fluid">
            	<div class="row">
        			<div class="col-md-1 rounded align-self-center"><a href="/"><img src="/media/avatar.jpg" class="img-fluid w-100" style="margin:0px 10px 0px 10px;" /></a></div>
            		<div class="col-md-9 h1 card-title text-center"><strong>doctruyen.com</strong></div>
            		<div class="col-md-2 btn-group h-25 align-self-center bg-info">
                        {%if user.username%}
                		<a class="btn" href="{%url 'home:logout'%}"><button class="btn-danger fa fa-sign-out"></button></a>
                        	{%if user.is_superuser%}
                        	<a class="btn" href="/admin"><button class="btn-success fa fa-user"></button></a>
                        	{%endif%}
                        {%else%}
                		<a class="btn" href="{%url 'home:login'%}"><button class="btn-success fa fa-sign-in"></button></a>
            			<a class="btn" href="{%url 'home:register'%}"><button class="btn-warning fa fa-registered"></button></a>
                        {%endif%}
                    </div>
            	</div>
        		<div class="row">
            		<div class="col-12 navbar navbar-expand-md navbar-dark bg-warning">
            			<a class="navbar-brand" href="/">Home</a>
                		<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navCollapse"><span class="navbar-toggler-icon"></span></button>
                		<div class="collapse navbar-collapse" id="navCollapse">
                			<ul class="col-8 navbar-nav">
                            {%for type in mangatype%}
                    			<li class="nav-item"><a class="nav-link text-white round" href="{%url 'home:mangatype' type.name%}">{{type.name}}</a></li>
                            {%endfor%}
                    		</ul>
        					<div class="col-md-4 navbar navbar-dark bg-warning align-top"> 
            					<div class="input-group col-9"><input type="text" name="searchbar" id="id_searchbar" onfocus="OnSearch()" onfocusout="OutSearch()" value="Enter manga's name" class="input-group-text col-12" /></div>
                				<div class="input-group col-3"><button type="button" class="btn-sm btn-primary col-10" id="btn_search" onclick="Search()"><span class="fa fa-search"></span></button></div>
            				</div>
            			</div>
            		</div>
        		</div>
        	</div>
        </div>
        <div class="row" style="margin-top:30px;margin-bottom:30px;">
            <div class="container">
            	<div class="row">
                {%block manga%}
                {%endblock%}
                </div>
                <button type="button" onclick="GotoTop()" class="btn-danger rounded-circle" style="position:fixed;right:5px;bottom:5px;width:30px;height:30px;"><i class="fa fa-arrow-up"></i></button>
            </div>
        </div>
    </div>
</body>
<script>
	function OnSearch(){
		searchbar = document.getElementById('id_searchbar');
		if (searchbar.value == "Enter manga's name")
			searchbar.value = "";
		}
	function OutSearch(){
		searchbar = document.getElementById('id_searchbar');
		if (searchbar.value == "")
			searchbar.value = "Enter manga's name";
		}
	function Search(){
		txt = document.getElementById('id_searchbar').value;
		if (txt != "Enter manga's name")
			window.location.href = '/search/'+txt;
		}
	function GotoTop(){
  		document.body.scrollTop = 0; // For Safari
  		document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
</script>
<div class="modal-footer">
	Copyright © 2019 - Email: nghia.10ly.2018@gmail.com
</div>
</html>
