{%extends 'home/base.html'%}
{%block manga%}
<div class="col-12 text-center card" style="height:500px;">
        <form action="." method="POST">
            {% csrf_token %}
            <h1 class="text-primary font-weight-bold">REGISTER</h1>
            <hr />
            <div class="row text-center" style="margin-top:20px;">
            <div class="col-8 text-right">
            	<p>Full Name: <input type="text" name="fullname" maxlength="500" id="id_fullname"></p>
            	<p>Username: <input type="text" name="username" maxlength="200" id="id_username"></p>
            	<p>Email: <input type="text" name="email" id="id_email"></p>
            	<p>Password: <input type="password" name="password" maxlength="200" id="id_password"></p>
            	<p>Password(again): <input type="password" name="repassword" maxlength="200" id="id_repassword"></p>
            </div>
            </div>
            <input class="btn-primary rounded" type="submit" value="Register"/>
        </form>
</center>
{%endblock%}